<div class="centered_div" style="min-width:1300px">
  <form [formGroup]="patientForm">
    <mat-form-field appearance="fill">
      <mat-label>All Patients</mat-label>
      <input type="text"
             matInput
             formControlName="patientGroup"
             required
             [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="optionSelected($event)">
        <mat-optgroup *ngFor="let group of patientGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <table style="width:100%">
      <tr>
        <td>
          <textarea formControlName="patProblem" class="patRqForm patRqTextarea" rows="8" cols="80" placeholder="Enter your problem here..." required></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <input type="date" formControlName="patDate" class="patRqForm patNameSpecial" value="">
        </td>
        <td>
          <input type="time" id="appt" formControlName="patTime" class="patRqForm">
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" name="patRqFormBtn" class="button patRequestAppBtn" (click)="saveAppointment()">Save
            appointment
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
