<div class="centered_div" style="min-width:1300px">
    <table>
      <tr>
        <td>
          <a routerLink="/new-appointment" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button type="button" name="button" class="button docHomeNew docHomeBtn">New Appointment</button>
          </a>
        </td>
        <td>
          <a routerLink="/filter" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button type="button" name="button" class="button docHomeFilter docHomeBtn">Filter Appointments</button>
          </a>
        </td>
      </tr>
    </table>
    <br>
</div>
